# Analysing if garage is important to SalesPrice of house

## Random Forest

### Pre-process data

In [1]:
#Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

from sklearn.metrics import mean_squared_error
from math import sqrt

In [3]:
data = r'/Users/OliverPan/Desktop/house/garage.csv'

In [4]:
garage_df = pd.read_csv(data)

In [5]:
garage_df.head()

   SalePrice GarageType  GarageYrBlt GarageFinish  GarageCars  GarageArea
0     208500     Attchd       2003.0          RFn           2         548
1     181500     Attchd       1976.0          RFn           2         460
2     223500     Attchd       2001.0          RFn           2         608
3     140000     Detchd       1998.0          Unf           3         642
4     250000     Attchd       2000.0          RFn           3         836

In [6]:
garage_df["GarageYrBlt"].value_counts()

2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1908.0     1
1927.0     1
1933.0     1
1900.0     1
1906.0     1
Name: GarageYrBlt, Length: 97, dtype: int64

### Additional pre-processing

In [7]:
garage_df["GarageType"] = garage_df["GarageType"].astype("category").cat.codes
garage_df["GarageFinish"] = garage_df["GarageFinish"].astype("category").cat.codes

garage_df = garage_df.dropna()

### Random Forest with all variables

In [8]:
X = garage_df.drop(["SalePrice"], axis = 1)
y = garage_df[["SalePrice"]]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
regr = RandomForestRegressor(max_depth=2, n_estimators = 250)

In [11]:
regr.fit(X_train, y_train)

/Users/OliverPan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [12]:
y_pred = regr.predict(X_test)

In [13]:
df = pd.DataFrame({'Actual': y_test["SalePrice"].to_list(), 'Predicted': list(y_pred.flatten())})
df.head()

   Actual      Predicted
0  233000  191463.457213
1  189000  191110.256586
2  155000  136573.895246
3  176000  191110.256586
4  380000  322670.020369

In [14]:
## Error is very high, so we need to tune the model
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 35968.365358895055

### Random Forest with three categorical variables

In [15]:
garage_df = garage_df.drop(["GarageYrBlt", "GarageArea"], axis = 1)

In [16]:
X = garage_df.drop(["SalePrice"], axis = 1)
y = garage_df[["SalePrice"]]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
regr = RandomForestRegressor(max_depth=2, n_estimators = 250)

In [19]:
regr.fit(X_train, y_train)

/Users/OliverPan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [20]:
y_pred = regr.predict(X_test)

In [21]:
df = pd.DataFrame({'Actual': y_test["SalePrice"].to_list(), 'Predicted': list(y_pred.flatten())})
df.head()

   Actual      Predicted
0  131400  179981.294098
1  143750  190897.096686
2  372402  285664.690836
3  378500  335846.629976
4  142500  147670.064728

In [22]:
## Error is very high, so we need to tune the model
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 39803.04946287586

In [23]:
## We should also look at RMSE
rmse = sqrt(mean_squared_error(y_test, y_pred))
rmse

59545.98075161548

In [24]:
## Normalised RMSE
sqrt(mean_squared_error(y_test, y_pred)) / (y_test["SalePrice"].max() - y_test["SalePrice"].min())

0.08518652996553036